.sandbox-page {
    height: 100%;
    width: 100%;

    .console {
        position: absolute;
        width: calc(30% - 40px);
        height: calc(90% - 40px);
        right: 0;
        top: 0;
        background-color: #333333;
        padding: 20px;
        overflow: auto;

        .system {
            color: green;
        }

        .message {
            color: white;
            font-size: 16px;
        }
        .error {
            color: red;
            font-size: 16px;
        }
    }

    .buttons {
        position: absolute;
        width: 30%;
        height: 10%;
        right: 0;
        bottom: 0;

        .button {
            width: 50%;
            height: 100%;
        }
    }
}