.sandbox-page {
    height: 100%;
    width: 100%;

    .pixi-container {
        top: 0;
        left: 0;
        position: absolute;
        width: 70%;
        height: 100%;
        /* Firefox */
        display: -moz-box;
        -moz-box-pack: center;
        -moz-box-align: center;

        /* Safari and Chrome */
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        /* W3C */
        display: box;
        box-pack: center;
        box-align: center;

        .pixi-window {
            height: 600px;
            widows: 800px;
            -webkit-box-shadow: 0px 0px 100px 30px indigo;
            -moz-box-shadow: 0px 0px 100px 30px indigo;
            box-shadow: 0px 0px 100px 30px indigo;
        }
    }

    .console {
        position: absolute;
        width: calc(30% - 40px);
        height: calc(90% - 40px);
        right: 0;
        top: 0;
        background-color: #333333;
        padding: 20px;
        overflow: auto;

        .system {
            color: green;
        }

        .message {
            color: white;
            font-size: 16px;
        }
        .error {
            color: red;
            font-size: 16px;
        }
    }

    .buttons {
        position: absolute;
        width: 30%;
        height: 10%;
        right: 0;
        bottom: 0;

        .button {
            width: 50%;
            height: 100%;
        }
    }
}