.menu-box-container {
    position: absolute;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 5%;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
    border-radius: 10px;
}
.disabled-box {
    background-color: red;
}
.activated-box {
    background-color: green;
}
.regular-box {
    background-color: bisque;
}