.message-container {
    z-index: 1000;
    position: absolute;
    left: 5px;
    top: 0;
    width: calc(100% - 10px);
    .message {
        margin-top: 5px;
        position: relative;
        width: calc(100% - 20px);
        text-align: center;
        background-color: #0000006b;
        color: white;
        font-size: 15px;
        padding: 5px;
    }
    
    .success {
        margin-top: 5px;
        width: calc(100% - 20px);
        text-align: center;
        background-color: rgba(0, 192, 0, 0.397);
        color: white;
        font-size: 15px;
        padding: 7px;
        border-color: rgb(0, 192, 0);
        border-style: solid;
        border-width: 2px;
    }
    
    .error {
        margin-top: 5px;
        width: calc(100% - 20px);
        text-align: center;
        background-color: rgba(177, 0, 0, 0.397);
        color: white;
        font-size: 15px;
        padding: 7px;
        border-color: red;
        border-style: solid;
        border-width: 2px;
    }
}
