<div class="main-page-container">
    <div class="row-element-l menu-box-container">
        <app-menu-box 
            (disabled)="true"
            (activated)="false">
        </app-menu-box>
    </div>
    <div class="row-element-l menu-box-container">
        <app-menu-box 
            (disabled)="true"
            (activated)="false">
        </app-menu-box>
    </div>
    <div class="row-element-l menu-box-container">
        <app-menu-box 
            (disabled)="true"
            (activated)="false">
        </app-menu-box>
    </div>
    <div class="last-row-element"></div>
    
    <div class="row-element-l menu-box-container">
        <app-menu-box 
            (disabled)="true"
            (activated)="false">
        </app-menu-box>
    </div>
    <div class="row-element-l menu-box-container">
        <app-menu-box 
            (disabled)="true"
            (activated)="false">
        </app-menu-box>
    </div>
    <div class="row-element-l menu-box-container">
        <app-menu-box 
            (disabled)="true"
            (activated)="false">
        </app-menu-box>
    </div>
    <div class="last-row-element"></div>
    
    <div class="row-element-l menu-box-container">
        <app-menu-box 
            (disabled)="true"
            (activated)="false">
        </app-menu-box>
    </div>
    <div class="row-element-l menu-box-container">
        <app-menu-box 
            (disabled)="true"
            (activated)="false">
        </app-menu-box>
    </div>
    <div class="row-element-l menu-box-container">
        <app-menu-box 
            (disabled)="true"
            (activated)="false">
        </app-menu-box>
    </div>
    <div class="last-row-element"></div>
</div>