<div class="main-page-container">
    <app-notifications *ngIf="showNotification" (close)='toggleNotification()' (setNotification)='notificationSelected = $event' [notificationSelected]='notificationSelected'></app-notifications>
    <mat-grid-list cols="3" rowHeight="fit" class="grid-container">
        <mat-grid-tile 
        *ngFor="let gridItem of gridList, index as index"
        [ngClass]="gridItem.disabled ? 'disabled-grid-item' : (gridItem.activated ? 'activated-grid-item' : 'default-grid-item')" 
        class="grid-item"
        (mouseenter)="changeSelecetdGrid(index)"
        (click)="gridItem.disabled ? null : onEnterPress()">
            <h2>{{gridItem.title}}</h2>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-progress-bar *ngIf="isWaiting" style="margin-top: 5px;" mode="query"></mat-progress-bar>
    <div class="grid-item-hint">{{currentDescription}}</div>
    <mat-chip-list>
        <mat-chip 
        (mouseenter)="selectBottomButton('notification')" 
        class="notification-button" 
        (click)='toggleNotification()' 
        [ngClass]="{'selected': buttonFocused === 'notification'}">
            Notifications
        </mat-chip>
    </mat-chip-list>
    <button 
    class='settings-button' 
    mat-icon-button 
    (mouseenter)="selectBottomButton('settings')" 
    [ngClass]="{'selected': buttonFocused === 'settings'}">
        <mat-icon svgIcon="settings"></mat-icon>
    </button>
    <div class="logo-bottom"></div>
    <mat-chip-list>
        <mat-chip 
        (mouseenter)="selectBottomButton('logout')" 
        class="logout-button" 
        (click)='logout()' 
        [ngClass]="{'selected': buttonFocused === 'logout'}">
            Logout
        </mat-chip>
    </mat-chip-list>
</div>